{%extends 'template.html'%} {%block title%}
<title>All Tasks</title>
{%endblock%} {%block content%}
<div class="bg-white w-2/5 drop-shadow-lg rounded">
  <div class="container mx-auto mx-5 py-10">
    <h1 class="text-3xl text-blue-900">Pending Tasks</h1>
    <br />
    {% if showPending %}
    <ul class="pt-5 list-disc">
      {% for task in pending %}
      <li class="pt-3 ml-5">{{ task }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <h1 class="pt-3 text-xl ml-5">No pending tasks</h1>
    {% endif %}
  </div>
</div>
<div class="bg-white w-2/5 drop-shadow-lg rounded">
  <div class="container mx-auto mx-5 py-10">
    <h1 class="text-3xl text-blue-900">Completed Tasks</h1>
    <br />
    {% if showCompleted %}
    <ul class="pt-5 list-disc">
      {% for task in completed %}
      <li class="pt-3 ml-5">{{ task }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <h1 class="pt-3 text-xl ml-5">No completed tasks</h1>
    {% endif %}
  </div>
</div>
{%endblock%}
