{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}{% endblock %}
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="bg-gradient-to-r from-blue-400 to-blue-900 h-screen">
      <div class="flex justify-evenly items-center h-full">{% block content %} {% endblock %}</div>
    </div>
  </body>
</html>
